# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

package-lock.json/
yarn.lock
pnpm-lock.yaml

# Vite
dist/
.vite/
.cache/



# Coverage reports
coverage/



# Build output
build/
out/
